.idea
.DS_Store
generate_data
DONTPUSHDBHANDLER.py
test
ER.png
Specification.md
SQL_CREDS.py
private_tests.py
autograder.py
autograder_output
autograder_output/test_results.csv
autograder_output/project_grades.csv
submissions
